{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/contactCSS/style.css")}}">
{% endblock %}

{% block body %}
	<div class="mainContainer">
		<div class="contactOutline">
			<p class="mainTitle">Contact us</p>
			<div class="container">

				{{ form_start(form) }}
				{{ form_widget(form) }}
				<div class="submitBtnHolder">
					<button class="sendButton">
						<i class="fa-solid fa-paper-plane"></i>
						{{ button_label|default('Send') }}</button>
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}

{# Email: group.project.planner@gmail.com #}
{# Pass: Meal!Project2 #}
{# If you want to login just write me on slack and I will send you the verification code, 2-Step Verification is turned on. #}
