{% extends 'base.html.twig' %}

{% block title %}Welcome home!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/homeCSS/style.css")}}">
{% endblock %}

{% block body %}
	<div class="mainContainer">

		<div class="heroSection">
			<div class="heroImgContainer">
				<img class="heroImg" src="{{asset("images/heroImg.jpg")}}" alt="Image of food">
			</div>
			<div class="heroContent">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<div>
						<img class="" src="{{asset("images/Vegan.png")}}" alt="logo image">
						<img class="" src="{{asset("images/Vegetarian.png")}}" alt="logo image">
						<img class="" src="{{asset("images/Non-Vegetarian.png")}}" alt="logo image">
					</div>
				{% else %}
					<h1 class="heroTitle">Meal time</h1>
					<p>plan your next meal with meal time right now</p>
					<div class="loginBtnHolder">
						<a class="loginBtn heroBtn" href="/login">Log in</a>
					</div>
					<span class="registerText">Don't have an account?
						<a class="heroBtn" href="/register">Sign up</a>
					</span>
				{% endif %}
			</div>
		</div>
		<img class="purpleLogo" src="{{asset("images/foodPurple.png")}}" alt="logo image">
		<div class="testimonialSection">


			<div class="testimonial">
				<div class="testimonialProfile">
					<div class="tImgHolder">
						<img src="https://cdn.pixabay.com/photo/2016/03/23/08/34/woman-1274361_1280.jpg" class="tProfilePic">
					</div>
					<span class="ratings">
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
					</span>
				</div>
				<div class="testimonialContent">
					<h1>
						<b>Marie</b>
					</h1>
					<p class="tText">I have been using Meal Time for the past few months and I can honestly say that it has changed my life. Not only has it helped me to plan my meals efficiently, but I am also much healthier now. Easily the best meal planner I used. LOVEEE IT!!</p>
				</div>
			</div>

			<div class="testimonial">
				<div class="testimonialProfile">
					<div class="tImgHolder">
						<img src="https://cdn.pixabay.com/photo/2016/11/23/00/57/adult-1851571_1280.jpg" class="tProfilePic">
					</div>
					<span class="ratings">
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
					</span>
				</div>
				<div class="testimonialContent">
					<h1>
						<b>Tom</b>
					</h1>
					<p class="tText">Ever since I started using Meal Time, the food I've been eating has been both healthy and absolutely delicious. I have also gotten a lot more fit thanks to this web app. Highly recommend!</p>
					<span>
						<b>#itsMealTime</b>
					</span>
				</div>
			</div>

			<div class="testimonial">
				<div class="testimonialProfile">
					<div class="tImgHolder">
						<img src="https://cdn.pixabay.com/photo/2017/01/11/00/30/man-1970609_1280.jpg" class="tProfilePic">
					</div>
					<span class="ratings">
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star" style="color: #ffd700;"></i>
						<i class="fa-solid fa-star-half" style="color: #ffd700;"></i>
					</span>
				</div>
				<div class="testimonialContent">
					<h1>
						<b>Daniel</b>
					</h1>
					<p class="tText">Huge thanks to Meal Time, I perform amazingly every time my friends and I play tennis now. This web app has been a game-changer, helping me eat the right food at the right time, giving me the energy boost I need. Highly recommend for anyone looking to up their game!
																										I just wish they had a mobile application for Meal Time.
					</p>
				</div>
			</div>

		</div>

	</div>

{% endblock %}
