{% extends 'base.html.twig' %}

{% block title %}Sign up
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("CSS/registerCSS/style.css") }}">
{% endblock %}
{% block body %}


	<div class="container">
		<h1 class="mainTitleRegister">Sign up</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.first_name, {'attr': {'placeholder': 'Enter your first name'}}) }}
		<br>
		{{ form_row(registrationForm.last_name, {'attr': {'placeholder': 'Enter your last name'}}) }}
		<br>
		{{ form_row(registrationForm.email, {'attr': {'placeholder': 'Enter your email'}}) }}
		<br>
		{{ form_row(registrationForm.username, {'attr': {'placeholder': 'Enter your username'}}) }}
		<br>
		{{ form_row(registrationForm.plainPassword, {
            'label': 'Password',
            'attr': {'placeholder': 'Enter your password'}
        }) }}
		<br>
		{{ form_row(registrationForm.avatar, {'attr': {'placeholder': 'Enter URL for your avatar'}}) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<div class="signUpBtnHolder">
			<button type="submit" class="signUpBtn">Sign up</button>
		</div>

		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
