
 {% extends 'base.html.twig' %}

{% block title %}Planner {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("CSS/plannerCSS/style.css")}}">
{% endblock %}

{% block body %}

<div class="mainContainer">
  <div class="container1">
    <h1 class="text-center m-4">Users planners</h1>



    <table class="tablePlanner">
            <tr>
                <th class="details">Days/Details</th>
                
                <th>Time</th>
				<th colspan="6">User meals</th>
				   
            </tr>
            
        
           <tr>
            <div class="day">
            <th rowspan="3" width="200px;" height="300px;">Monday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if mondayBreakfast|length > 0 %}
            {% for val in mondayBreakfast %}
              <td>
			<img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
		
			
			
            
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if mondayLunch|length > 0 %}
            {% for val in mondayLunch %}
            <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
			
            
            
            {% endfor %}
            {% else %}
            <td>
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if mondayDinner|length > 0 %}
            {% for val in mondayDinner %}
             <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
           
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            
 
            </tr> 



            
         <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Tuesday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if tuesdayBreakfast|length > 0 %}
            {% for val in tuesdayBreakfast %}
              <td>
           <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if tuesdayLunch|length > 0 %}
            {% for val in tuesdayLunch %}
            <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if tuesdayDinner|length > 0 %}
            {% for val in tuesdayDinner %}
             <td>
           <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
              
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
 
            </tr> 

           <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Wednesday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if wednesdayBreakfast|length > 0 %}
            {% for val in wednesdayBreakfast %}
              <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if wednesdayLunch|length > 0 %}
            {% for val in wednesdayLunch %}
            <td>
           <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if wednesdayDinner|length > 0 %}
            {% for val in wednesdayDinner %}
             <td>
           <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
             
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
 
            </tr> 

            <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Thursday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if thursdayBreakfast|length > 0 %}
            {% for val in thursdayBreakfast %}
              <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if thursdayLunch|length > 0 %}
            {% for val in thursdayLunch %}
            <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if thursdayDinner|length > 0 %}
            {% for val in thursdayDinner %}
             <td>
          <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            <td>
               
            </td>
            </tr>  
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
 
            </tr> 


            <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Friday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if fridayBreakfast|length > 0 %}
            {% for val in fridayBreakfast %}
              <td>
          <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if fridayLunch|length > 0 %}
            {% for val in fridayLunch %}
            <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if fridayDinner|length > 0 %}
            {% for val in fridayDinner %}
             <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
          
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
 
            </tr> 


    <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Saturday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if saturdayBreakfast|length > 0 %}
            {% for val in saturdayBreakfast %}
              <td>
          <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if saturdayLunch|length > 0 %}
            {% for val in saturdayLunch %}
            <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if saturdayDinner|length > 0 %}
            {% for val in saturdayDinner %}
             <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
              
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
 
            </tr>    
        
        
         <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Sunday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if sundayBreakfast|length > 0 %}
            {% for val in sundayBreakfast %}
              <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="6">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if sundayLunch|length > 0 %}
            {% for val in sundayLunch %}
            <td>
           <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if sundayDinner|length > 0 %}
            {% for val in sundayDinner %}
             <td>
            <img  width="30px;" height="30px;" src="{{ val.fkUser.avatar }}">   
			 {{ val.fkUser.username }} <br> {{ val.fkMeal.name }} 
            </td> 
              
            {% endfor %}
            {% else %}
            <td colspan="6">
            no data
            </td>
            {% endif %}
 
            </tr> 
               
                
        </tbody>
    </table>
  </div>
</div>
{% endblock %}  