{# {% extends 'base.html.twig' %}

{% block title %}Planner index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("CSS/plannerindexCSS/style.css")}}">
{% endblock %}

{% block body %}

<div class="mainContainer">
  <div class="container1">
    <h1 class="text-center m-4">My weekly planner</h1>

    <table class="tablePlanner">
            <tr>
                <th class="text-secondary bg-light">Days/Details</th>
                <th>Id</th>
                <th>Time</th>
                <th>Meal</th>
                <th>Card</th>
                <th>Actions</th>    
            </tr>
            <tr>
                <th>Monday</th>
                {% for day in monday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                </div>
				</td> 
                
                {% else %}
            
                <td colspan="4">No records found for Monday</td>
            
                {% endfor %}
                <td></td>
                </tr>  
            
            <tr>
                <th>Tuesday</th>
                {% for day in tuesday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                  </div>
				</td> 
                
                
                {% else %}
            
                <td colspan="4">No records found for Tuesday</td>
            
                {% endfor %} 
                <td></td> 
            </tr>
            <tr>
                <th>Wednesday</th>
                {% for day in wednesday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                  </div>
				</td> 
                
                
                {% else %}
            
                <td colspan="4">No records found for Wednesday</td>
            
                {% endfor %}
                <td></td>  
            </tr>
            <tr>
                <th>Thursday</th>
                {% for day in thursday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                  </div>
				</td> 
                
                
                {% else %}
            
                <td colspan="4">No records found for Thursday</td>
            
                {% endfor %}
                <td></td>  
            </tr>
            <tr>
                <th>Friday</th>
                {% for day in friday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                  </div>
				</td> 
                
                
                {% else %}
            
                <td colspan="4">No records found for Friday</td>
            
                {% endfor %}
                <td></td>  
            </tr>
            <tr>
                <th>Saturday</th>
                {% for day in saturday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                  </div>
				</td> 
                
                
                {% else %}
            
                <td colspan="4">No records found for Saturday</td>
            
                {% endfor %} 
                <td></td>
            </tr>
        
        
         <tr>
         <th>Sunday</th>
          {% for day in sunday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                  <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                </div>
                </td> 
            
                {% else %}
            
                <td colspan="4">No records found for Sunday</td>
            
                {% endfor %}
                
         <td></td> 
        </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %} #}



 {% extends 'base.html.twig' %}

{% block title %}Planner {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("CSS/plannerCSS/style.css")}}">
{% endblock %}

{% block body %}

<div class="mainContainer">
  <div class="container1">
    <h1 class="text-center m-4">Users planners</h1>



    <table class="tablePlanner">
            <tr>
                <th class="details">Days/Details</th>
                
                <th>Time</th>
				<th colspan="6">User meals</th>
				   
            </tr>
            
        
           <tr>
            <div class="day">
            <th rowspan="3" width="200px;" height="300px;">Monday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if mondayBreakfast|length > 0 %}
            {% for val in mondayBreakfast %}
              <td>
			{# <img width="100px;" height="60px;" src="{{ val.fkUser.avatar }}" ><br>  #}
			{{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
		
			
			
            
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if mondayLunch|length > 0 %}
            {% for val in mondayLunch %}
            <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
			<td >
           {{ val.fkUser.username }}
           </td>
            
            
            {% endfor %}
            {% else %}
            <td>
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if mondayDinner|length > 0 %}
            {% for val in mondayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
           
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            
 
            </tr> 



            
         <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Tuesday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if tuesdayBreakfast|length > 0 %}
            {% for val in tuesdayBreakfast %}
              <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if tuesdayLunch|length > 0 %}
            {% for val in tuesdayLunch %}
            <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if tuesdayDinner|length > 0 %}
            {% for val in tuesdayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
              
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
 
            </tr> 

           <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Wednesday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if wednesdayBreakfast|length > 0 %}
            {% for val in wednesdayBreakfast %}
              <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if wednesdayLunch|length > 0 %}
            {% for val in wednesdayLunch %}
            <td>
           {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if wednesdayDinner|length > 0 %}
            {% for val in wednesdayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
             
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
 
            </tr> 

            <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Thursday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if thursdayBreakfast|length > 0 %}
            {% for val in thursdayBreakfast %}
              <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if thursdayLunch|length > 0 %}
            {% for val in thursdayLunch %}
            <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if thursdayDinner|length > 0 %}
            {% for val in thursdayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            <td>
               
            </td>
            </tr>  
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
 
            </tr> 


            <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Friday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if fridayBreakfast|length > 0 %}
            {% for val in fridayBreakfast %}
              <td>
          {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if fridayLunch|length > 0 %}
            {% for val in fridayLunch %}
            <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if fridayDinner|length > 0 %}
            {% for val in fridayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
          
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
 
            </tr> 


    <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Saturday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if saturdayBreakfast|length > 0 %}
            {% for val in saturdayBreakfast %}
              <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if saturdayLunch|length > 0 %}
            {% for val in saturdayLunch %}
            <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if saturdayDinner|length > 0 %}
            {% for val in saturdayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
              
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
 
            </tr>    
        
        
         <tr>
            
            <th rowspan="3" width="200px;" height="300px;">Sunday</th>
              <td width="150px;" height="100px;">Breakfast</td>
            {% if sundayBreakfast|length > 0 %}
            {% for val in sundayBreakfast %}
              <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
           <td colspan="5">
           no data
           </td>
           {% endif %}
           </tr>
           <tr>
        
            <td width="150px;" height="100px;">Lunch</td>
            {% if sundayLunch|length > 0 %}
            {% for val in sundayLunch %}
            <td>
           {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
            
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
            </tr> 
            <tr>
             <td width="150px;" height="100px;">Dinner</td>
            {% if sundayDinner|length > 0 %}
            {% for val in sundayDinner %}
             <td>
            {{ val.fkMeal.name }}<br> {{ val.fkUser.username }}<br>
            </td> 
              
            {% endfor %}
            {% else %}
            <td colspan="5">
            no data
            </td>
            {% endif %}
 
            </tr> 
               
                
        </tbody>
    </table>
  </div>
</div>
{% endblock %}  