{% extends 'base.html.twig' %}

{% block title %}Planner index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("CSS/plannerindexCSS/style.css")}}">
{% endblock %}

{% block body %}

<div class="mainContainer">
  <div class="container1">
    <h1 class="text-center m-4">My weekly planner</h1>

    <table class="tablePlanner">
            <tr>
                <th>Days/Details</th>
                <th>Id</th>
                <th>Time</th>
                <th>Meal</th>
                <th>Card</th>
                <th>Actions</th>    
            </tr>
            <tr>
                <th>Monday</th>
                {% for day in monday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                </div>
				</td> 
                
                {% else %}
            
                <td colspan="4">No records found for Monday</td>
            
                {% endfor %}
                <td></td>
                </tr>  
            
            <tr>
                <th>Tuesday</th>
                {% for day in tuesday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                  </div>
				</td> 
                
                
                {% else %}
            
                <td colspan="4">No records found for Tuesday</td>
            
                {% endfor %} 
                <td></td> 
            </tr>
            <tr>
                <th>Wednesday</th>
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>  
            </tr>
            <tr>
                <th>Thursday</th>
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>  
            </tr>
            <tr>
                <th>Friday</th>
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>  
            </tr>
            <tr>
                <th>Saturday</th>
                <td></td>
                <td></td>
                <td></td> 
                <td></td> 
                <td></td>
            </tr>
        
        
         <tr>
         <th>Sunday</th>
          {% for day in sunday %}
            <td>{{ day.id }}</td>
            <td>{{ day.time }}</td>
            <td><img width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" alt="{{ day.fkMeal.name }}"></td>
            <td>
                  <div class="col">
                    <div class="card1">
						<div class="card-body">
							<div>
								<img class="picture" width="50px;" height="50px;" src="{{ day.fkMeal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h3 class="card-title mb-2">{{ day.fkMeal.name }}</h3>
							{% set maximum_stars = 5 %}
							{% if day.fkMeal.rating <= maximum_stars %}
								{% for star in 0..(day.fkMeal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (day.fkMeal.rating) - (day.fkMeal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - day.fkMeal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if day.fkMeal.creator %}
								<p class="card-text fw-semibold mt-3">{{ day.fkMeal.creator.username }}</p>
							{% endif %}
						</div>
					</div>
                </div>
                </td> 
            
                {% else %}
            
                <td colspan="4">No records found for Sunday</td>
            
                {% endfor %}
                
         <td></td> 
        </tr>
         

       
            {# <tr>
                <td>{{ planner.id }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.time }}</td>

                <td>
                    <a href="{{ path('app_planner1_show', {'id': planner.id}) }}">show</a>
                    <a href="{{ path('app_planner1_edit', {'id': planner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %} #}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
