{% extends 'base.html.twig' %}

{% block title %}Planner index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("CSS/plannerindexCSS/style.css")}}">
{% endblock %}

{% block body %}

<div class="mainContainer">
  <div class="container1">
    <h1 class="text-center m-2">Weekly planner</h1>

    <table class="tablePlanner">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Day</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planner in planners %}
            <tr>
                <td>{{ planner.id }}</td>
                <td>{{ planner.time }}</td>
                <td>{{ planner.day }}</td>
                <td>
                    <a href="{{ path('app_planner1_show', {'id': planner.id}) }}">show</a>
                    <a href="{{ path('app_planner1_edit', {'id': planner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
