<link rel="stylesheet" href="{{asset("CSS/createCSS/style.css")}}">

{{ form_start(form) }}
{{ form_widget(form) }}
<div class="saveButtonHolder">
	<button class="saveButton">{{ button_label|default('Create meal') }}</button>
</div>
{{ form_end(form) }}
