{% extends 'base.html.twig' %}

{% block title %}Meal index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/mealCardsCSS/style.css")}}">
{% endblock %}
{% block body %}
	<div class="container">
<div class="position">
  <a class="createBtn" href="{{ path('app_meal_new') }}">
    <i class="bi bi-plus-circle"></i>
    Create new
  </a>

  <div class="dropdown">
    <button class="dropdown-toggle dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{ path('app_filter', {'type':'Vegan'}) }}" class="something mb-4">Vegan</a></li>
      <li><a href="{{ path('app_filter', {'type':'Vegetarian'}) }}" class="something mb-4">Vegetarian</a></li>
      <li><a href="{{ path('app_filter', {'type':'Non-Vegetarian'}) }}" class="something mb-4">Non-Vegetarian</a></li>
      <li><a href="{{ path('app_filter_by_calories') }}" class="something mb-4">Calories Under 500</a></li>
    </ul>
  </div>
</div>



		<div class=" row row-cols-1 row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
			{% for meal in meals %}
				<div class="col mb-3">
					<div class="card-1">
						<div class="card-body">
							<div>
								<img class="picture" src="{{ meal.picture }}" class="card-img-top" alt="meal Image">
							</div>
							<h5 class="card-title fs-2 mb-2">{{ meal.name }}</h5>
							{% set maximum_stars = 5 %}
							{% if meal.rating <= maximum_stars %}
								{% for star in 0..(meal.rating) %}
									{% if star != 0 %}
										<i class="bi bi-star-fill text-warning"></i>
									{% endif %}
								{% endfor %}
								{% if (meal.rating) - (meal.rating|round(0, 'floor')) != 0 %}
									<i class="bi bi-star-half text-warning"></i>
								{% endif %}
								{% for star in 0..(maximum_stars - meal.rating|round(0, 'ceil')) %}
									{% if star != 0 %}
										<i class="bi bi-star emptyStar text-warning"></i>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if meal.creator %}
								<p class="card-text fw-semibold mt-3">{{ meal.creator.username }}</p>
							{% endif %}
							<div class="btnHolder">
								<a class="showBtn" href="{{ path('app_meal_show', {'id': meal.id}) }}">show</a>
								<a class="editBtn" href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<p>no records found</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
