{% extends 'base.html.twig' %}

{% block title %}Meal index{% endblock %}

{% block body %}
    <h1 class="text-center">Meal index</h1>
    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1 m-2">
        {% for meal in meals %}
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ meal.name }}</h5>
                        <div class="ratio ratio-16x9 mb-3">
                            <img src="{{ meal.picture }}" class="card-img-top" alt="meal Image">
                        </div>
                        <p class="card-text">{{ meal.rating }}</p>
                        <p class="card-text">{{ meal.creator }}</p>

                        <a class="btn btn-outline-success btn-light w-100" href="{{ path('app_meal_show', {'id': meal.id}) }}">show</a>
                        <a class="btn btn-outline-primary btn-light w-100" href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>
    <a class="btn btn-primary mt-4 m-4" href="{{ path('app_meal_new') }}">Create new</a>
{% endblock %}


    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Ingredients</th>
                <th>Creator</th>
                <th>Preparation</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{ meal.id }}</td>
                <td>{{ meal.name }}</td>
                <td>{{ meal.picture }}</td>
                <td>{{ meal.ingredients }}</td>
                <td>{{ meal.creator }}</td>
                <td>{{ meal.preparation }}</td>
                <td>{{ meal.rating }}</td>
                <td>
                    <a href="{{ path('app_meal_show', {'id': meal.id}) }}">show</a>
                    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meal_new') }}">Create new</a> #}
