{% extends 'base.html.twig' %}

{% block title %}Meal{% endblock %}

{% block body %}
    <h1>Meal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ meal.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ meal.picture }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ meal.ingredients }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ meal.creator }}</td>
            </tr>
            <tr>
                <th>Preparation</th>
                <td>{{ meal.preparation }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ meal.rating }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ meal.description }}</td>
            </tr>
            <tr>
                <th>Calories</th>
                <td>{{ meal.calories }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ meal.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_meal_index') }}">back to list</a>

    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>

    {{ include('meal/_delete_form.html.twig') }}
{% endblock %}
