{# {% extends 'base.html.twig' %} #}

{% block title %}Hello MailController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">


		<h1>Hello Admin, my name is:
			{{ fname }}</h1>

		<p>
			I am signed up with the username:
			{{ username }}
			and this is my email:
			{{ userEmail }}
		</p>
		<p>
			{{ msg }}

			{# <code>{{ email.to[0].address }}</code> #}
		</p>


	</div>
{% endblock %}
